*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    background-color: #0F0F0F;
}

body
{
    font-family: "Roboto", sans-serif;
}

#cabecalho
{
    text-align: center;
    color: #FFFFFF;
    margin: 35px auto;
}

#conteudo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    max-width: 1000px;
    width: 90%;
    height: 90%;
    margin: 20px auto;
    padding: 20px 40px;
    border: 4px solid #2E2E2E;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(204, 0, 0, 0.2);
    gap: 35px;
    color: #FFFFFF;
    transition: 0.5s ease;
}

#conteudo:hover
{
    box-shadow: 0 8px 30px rgba(255, 107, 53, 0.4);
}

#grid-card
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 35px auto;
}

#conteudo #form-buscar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 4px solid #2E2E2E;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 0 4px 20px rgba(204, 0, 0, 0.2);
    transition: 0.5s ease;
    font-size: 20px;
}

#conteudo #form-buscar:hover
{
    box-shadow: 0 8px 30px rgba(255, 107, 53, 0.4);
}

#conteudo #form-buscar input {
    text-align: center;
    max-width: 500px;
    width: 90%;
    height: 50px; /* valor fixo */
    font-size: 15px;
    border: 5px solid #2E2E2E;
    border-radius: 10px;
    background-color: #242424;
    transition: 0.5s ease;
    color: #FFFFFF;
}

#conteudo #form-buscar input:hover
{   
    transform: scale(1.10);
    border: 5px solid #FF6B35;
}

#conteudo #form-buscar button
{
    max-width: 500px;
    width: 90%;
    padding: 12px 24px;
    background-color: #CC0000;
    border: 3px solid #2E2E2E;
    border-radius: 15px;
    transition: 0.5s ease;
    box-shadow: 0 5px 15px rgba(204, 0, 0, 0.5);
    cursor: pointer;
}

#conteudo #form-buscar button:hover
{
    transform: scale(1.10);
    background-color: #FF6B35;
}

#pesquisados
{
    text-align: center;
}

#ultimos5
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 20px;
    border: 4px solid #2E2E2E;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 20px rgba(204, 0, 0, 0.2);
    transition: 0.5s ease;
}

#ultimos5:hover
{
    box-shadow: 0 8px 30px rgba(255, 107, 53, 0.4);
}

#info-poke
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#info-poke img {
    display: none; /* começa escondida */
}

#stats
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}



@media (max-width: 768px) {
    #grid-card {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    #conteudo {
        padding: 20px;
    }

    #conteudo #form-buscar input {
        width: 100%;
    }
}